@CHARSET "ISO-8859-1";

body {
	font-family: Cambria, serif;
}

input {
	font-family: Cambria, serif;
}

textarea {
	font-family: Cambria, serif;
}

thead {
	font-weight: bold;
}

table {
 	border: 1px;
}

tr:nth-of-type(even) {
	background-color: lightgreen;
}

td {
	padding: 1px;
}
