@CHARSET "ISO-8859-1";

body {
	font-family: DejaVu Sans Mono, monospace;
}

input {
	font-family: DejaVu Sans Mono, monospace;
}

textarea {
	font-family: DejaVu Sans Mono, monospace;
}

thead {
	font-weight: bold;
}

table {
 	border: 1px;
}

td {
	padding: 5px;
}
